/* 
    Document   : style1.css
    Created on : June 24, 2013, 9:07:10 PM
    Author     : gxlzlihao
    Description:
        Purpose of the stylesheet follows.
		*/

/*reset of the css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*end of the reset*/



body {
	background-color:white;
}
#all {
	margin-left:auto;
	margin-right:auto;
	margin:0 auto;
    background-color: black;
	width:1024px;
    padding: 0;
}
#header {
	position:relative;
    background-color: green;
    height: 200px;
	width: 1024px;
	margin:0 auto;
	overflow: auto;
	padding:0 0 10px 0;
}
#header_text {
	test-align:left;
	margin-left:200px;
	margin-right:200px;
}
#header_logo {
	position:absolute;
	
	bottom: 0;
	right: 0;
}
#main {
	position:relative;
	overflow:auto;
	height:400px;
}
#sections {
	float:left;
	display:inline;
	overflow:auto;
	width: 784px;
	margin: 0px 10px 10px 10px;
}
.content {
	position:relative;
	background-color: white;
	margin: 10px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 30px;

	height:100px;
	
	
	border-bottom: dotted;
	border-bottom-color: #ED2D7D;
	border-bottom-width: 5px;
	border-right: dotted;
	border-right-color: #13F222;
	border-right-width: 5px;
}
#sidebar {
	position:absolute;
	float:left;
	display:inline;
	background-color:blue;
	height:200px;
	width:200px;
	right: 0;
	margin: 10px 10px 0 0;
}
.item {
	position:relative;
	background-color:yellow;
	margin: 10px 0;
	border-left: solid;
	border-left-color: yellow;
	border-right: solid;
	border-right-color: yellow;
	text-align:center;
}

.item:hover {
	position:relative;
	background-color:yellow;
	margin: 10px 0;
	border-left: solid;
	border-left-color: red;
	border-right: solid;
	border-right-color: red;
	text-align:center;
}

h2 {
	font-size:24px;
}
h1 {
	font-size:200%;
	margin: 10px;
	margin-left:30px;
}
h1::first-letter {
	font-size: 130%;
}
.content p {
	border-left: solid;
	border-left-color: black;
	margin: 5px 0 0 50px;
	padding-left:5px;
}
#footer {
	position: relative;
	height:100px;
	width:1024px;
	margin:0 auto;
	background-color:#0D81E0;
	border-top: solid;
	border-top-color: white;
	padding-top: 10px;
}

#footer_text {
	margin-top: 20px;
	text-align:center;
}
