/* 
    Document   : style
    Created on : Jul 4, 2013, 10:38:38 PM
    Author     : gxlzlihao
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background: #990033;
}
ul ul {
    display:none;
}
ul li:hover>ul{
    display:block;
}
ul {
    background: #333333;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    padding-top:2px;
    border-radius: 10px;
    list-style:none;
    position:relative;
    margin-top:10px;
    margin-left:10px;
    display:inline-table;
}
ul:after{
    content:"";
    clear:both;
    display:block;
}
ul li {
    float:left;
}
ul li a:hover{
    background: #ffffff;
    color:#008042;
}
ul li a{
    display:block;
    text-align:center;
    line-height:40px;
    width:200px;
    height:40px;
    padding: 0px 0px;
    color:#fa0d21;
    text-decoration:none;
}
ul ul {
    margin:0;
    background: #333333;
    padding:5px;
    position:absolute;
    top:100%;
}
ul ul li{
    float:none;
    position:relative;
}
ul ul li a{
    padding:15px 30px;
    text-align:left;
    line-height:40px;
    width:190px;
    height:40px;
    padding: 0px 0px;
    padding-left:0px;
    color: #fa0d21;
}
ul ul li a:hover{
    background: #ffffff;
    color:#333333;
}
/*change made by lihao*/
ul>li>ul>li:first-child>a:hover{
    border-radius: 10px 10px 0 0;
}
ul>li>ul>li:last-child>a:hover{
    border-radius:0 0 10px 10px;
}
ul>li>ul>li:only-child>a:hover{
    border-radius:10px;
}
/*end of change*/
ul ul ul{
    position:absolute;
    left:103%;
    top:0;
}

